.CodeMirror {
    border: 1px solid var(--mitmweb-border);
    height: auto !important;
}

.codeeditor {
    height: 100%;
    .cm-theme {
        height: 100%;
    }
    .cm-editor {
        height: 100%;
    }
    .cm-scroller {
        height: 100% !important;
        max-height: 100% !important;
        overflow: auto !important;
        overscroll-behavior: contain;
    }
}
